body{
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: blue;
}

a:hover {
    text-decoration: underline;
}

.gridTable{
    border: 2px solid #666;
    border-spacing: 0px;
    border-collapse: collapse;
}

.gridRow{
    background-color: #EEE;
}
.gridRow:nth-child(odd) {
    background-color: #DDD;
}

.gridRowHeader{
    background-color: #666;
    color: white;
    font-weight: bold;
}

.gridCell{
    border: 1px solid #666;
    padding: 3px 6px 3px 6px;
}

.codeBlock{
    margin: 20px; 
    padding: 10px;
    background-color: #EEE;
    border: 1px solid #CCC;
    float: left;
    clear: left;
    font-family: monospace;
}